
.card{
    font-size : 0.1rem !important;
    margin : 0.75rem 0 !important;
    border: 1px solid $gray;
    background-color: $light-white;
}
.card-header,.card-body, .card-footer{
    background-color: inherit;
}
.card-footer{
    border : none;
    padding-bottom: 1rem;
}
.card-button.read-more-btn{
    background-color: $light-black;
    color : $white;
    border-radius: unset;
}
#services-cards{

    .card-body{
        min-height: 250px;
        overflow: hidden;
    }

    .card-header{
        overflow: hidden;
        height : 140px;
    }
    .card-img-top{
        overflow: hidden;
        transition: all 0.5s;

        &:hover{
            -webkit-transform : scale(1.1);
            scale : 1.1;
        }
    }

    .card-title{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-text{
        text-align:justify;
    }

}
