// $primary-color : #616161;

$light-blue : #7dd4ff;
$blue : #007dbb;
$dark-blue : #08325f;
$darker-blue : #032141;
$blacky-blue : #020e1d;

$light-white : #fff;
$white : #f6f6f6;
$dark-white : #e5e5e5;

$light-grey : #a7a7a7;
$grey : #727272;
$dark-grey : #4e4e4e;

$light-black : #242424;
$black : #1a1a1a;
$dark-black : #000000;






$primary-color : #222222;

$light-white : #fff;
$white : #f6f6f6;
$dark-white : #e5e5e5;
$transparent-white : #ffffffb4;

$lighter-gray : #afafaf;
$light-gray : #a7a7a7;
$gray : #808080;
$dark-gray : #5a5a5a;
$darker-gray : #4d4d4d;

$light-black : #3a3a3a;
$black : #222222;
$dark-black : #000000;
